<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NotationalFerocity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="Notational Ferocity"/>
    <variable name="logFilePath" value="${specialfolder:folder=Desktop:file=${appTitle}.log}"/>

    <targets async="true">
      <target name="file" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"/>

      <target name="fileAsInfo" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message} ${exception:format=ToString}"/>
    </targets>

    <targets>
      <target xsi:type="MessageBox" name="mbox" caption="Error" layout="An error has occurred. Please see the log file (${logFilePath}) or event log for more details."/>
    </targets>

    <rules>
      <logger name="*" level="Info" writeTo="fileAsInfo"/>
      <logger name="*" minlevel="Warn" writeTo="file"/>
      <logger name="*" minlevel="Error" writeTo="mbox"/>
    </rules>
  </nlog>
  <userSettings>
    <NotationalFerocity.Properties.Settings>
      <setting name="Extensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.txt</string>
            <string>.sql</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="NotesDirectory" serializeAs="String">
        <value>C:\Notes</value>
      </setting>
      <setting name="ColorBackground" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="ColorForeground" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="SaveDelay" serializeAs="String">
        <value>1500</value>
      </setting>
    </NotationalFerocity.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
</configuration>