<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NotationalFerocity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NotationalAudacity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NotationalFerocity.Properties.Settings>
            <setting name="Extensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.txt</string>
                        <string>.sql</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NotesDirectory" serializeAs="String">
                <value>C:\Notes</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="NoteFontProportional" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="NoteFontFixedWidth" serializeAs="String">
                <value>Consolas, 8.25pt</value>
            </setting>
            <setting name="DisplayFont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="MarkdownFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
        </NotationalFerocity.Properties.Settings>
        <NotationalAudacity.Properties.Settings>
            <setting name="Extensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.txt</string>
                        <string>.sql</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NotesDirectory" serializeAs="String">
                <value>C:\Notes</value>
            </setting>
        </NotationalAudacity.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
